<%- include('Header') %> 

<div class="middle">
    <h1>Post</h1>
    <div class="days">Day<%=id%></div>
    <div class="blogTitle">(<%=title%>)</div>

    <p class="para"><%=blog %></p>
</div>

<%- include('Footer') %>
